* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: rgb(236, 186, 236);
   padding: 1.5% 0%;
   font-size: 2em;
}

.nav-bar {
    background-color: rgb(177, 104, 201);
    color: white;
    padding: 1.2%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: white;
    width: 80%;
    padding: 12.8% 0%;
    font-size: 2em;
}

.colum {
    background-color: rgb(201, 143, 199);
    width: 20%;
    padding: 12.8% 0%;
    font-size: 2em;
}

.footer {
    background-color:rgb(163, 81, 204);
    padding: 1.5% 0%;
    font-size: 2em;
}