* {
  padding: 0;
  margin: 0%;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dados {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dado-1 {
  background-color: white;
  width: 6em;
  height: 6em;
  padding: 2%;
  border-radius: 5%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dado-2 {
  background-color: white;
  width: 6em;
  height: 6em;
  border-radius: 5%;
  padding: 0.5em 0.5em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dado-3 {
  background-color: white;
  width: 6em;
  height: 6em;
  border-radius: 5%;
  padding: 0.5em 0.5em;
  margin-left: 1em;
}

.dado-4 {
  background-color: white;
  width: 6em;
  height: 6em;
  border-radius: 5%;
  padding: 0.5em 0.5em;
  margin-left: 1em;
}

.dado-5 {
  background-color: white;
  width: 6em;
  height: 6em;
  border-radius: 5%;
  padding: 0.5em 0.5em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.dado-6 {
  background-color: white;
  width: 6em;
  height: 6em;
  border-radius: 5%;
  padding: 0.5em 0.5em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.puntos {
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  background-color: black;
}

.punto1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.punto2-1 {
  padding: 0em 5.1em 1.8em 0em;
  display: flex;
}

.punto2-2 {
  padding: 1.7em 0.1em 0em 5em;
  display: flex;
}

.punto3-1 {
  padding: 0.3em 4em 1.5em 0em;
  display: flex;
  justify-content: flex-start;
}
.punto3-2 {
  display: flex;
  justify-content: center;
}
.punto3-3 {
  padding: 0.8em 0em 0em 4em;
  display: flex;
  justify-content: flex-end;
}

.punto4-1-2 {
  padding: 0em 0em 1.5em 0em;
  display: flex;
  justify-content: space-between;
}

.punto4-3-4 {
  padding: 2em 0em 0em 0em;
  display: flex;
  justify-content: space-between;
}

.punto5-1-2 {
  padding: 0em 0em 1.5em 0em;
  display: flex;
  justify-content: space-between;
}

.punto5-3 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.punto5-4-5 {
  padding: 1.4em 0em 0em 0em;
  display: flex;
  justify-content: space-between;
}

.punto6-1-2 {
  padding: 0em 0em 1.5em 0em;
  display: flex;
  justify-content: space-between;
}
.punto6-3-4 {
  padding: 0em 0em 1.5em 0em;
  display: flex;
  justify-content: space-between;
}
.punto6-5-6 {
  padding: 0em 0em 1.5em 0em;
  display: flex;
  justify-content: space-between;
}
