* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .contenedor {
      display: flex;
  }
  
  .colum {
      background-color: rgb(198, 122, 196);
      width: 20%;
      padding: 21.5% 0% 21.5% 0%;
      font-size: 2em;
    }
  
  .cuadrodos {
      width: 80%;
  }
  
  .header {
      background-color: rgb(236, 186, 236);
      font-size: 2em;
      width: 100%;
      padding: 1.5% 0%;
  }

  .nav-bar {
      background-color: rgb(146, 66, 220);
      color: white;
      padding: 1% 0%;
  }
  
  .main {
    background-color: white;
    width: 100%;
    font-size: 2em;
    padding: 18.5% 0%;
  }
  
  .footer {
    background-color: rgb(163, 81, 204);
    width: 100%;
    font-size: 2em;
    padding: 1.5% 0%;
  }
  