* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .servicios {
    text-align: center;
    width: 15%;
    margin-top: 15%;
  }
  
  .titulo {
      font-size: 2.5em;
  }
  
  .texto-servicio {
    margin-top: 4%;
    font-size: 0.8em;
  }
  
  .lista-cajas {
    width: 53%;
    height: 12em;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .cajas {
    width: 41%;
    height: 8em;
    display: flex;
    flex-direction: column;
  }
  
  .dentro-caja2 {
      margin-top: 3%;
      display: flex;
  }

  .dentro-caja1 {
    margin-top: 3%;
    display: flex;
}
  
  .fa-solid {
    font-size: 1.5em;
    padding: 2.5% 3%;
    margin-right: 2%;
    background-color: royalblue;
    color: white;
    border-radius: 10%;
  }
  
  .titulo-cajas {
      font-size: 1.1em;
      margin-left: 4%;
  }
  
  .p-cajas {
      margin-left: 18%;
      font-size: 0.83em;
  }